@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   
    font-family: 'Jost', Arial, Helvetica, sans-serif;
  }
  /* Hide scrollbar for all scrollable elements with 'hide-scrollbar' class */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Add styles for cart overlay */
.cart-overlay {
  backdrop-filter: blur(2px);
}
